<div class="contact-section">

    <div class="contact-container">



        <div class="details-container">
            <h1>אפשרות לסידור והזמנה</h1>
            <p>טיפולים ועיסויים בהזמנה מוקדמת</p>
            <p>ארוחת בוקר בתיאום מול המארחים</p>
            <p>ניתן לקבל מהמארחים ייעוץ למסלולי הליכה או אטרקציות באזור.</p>
            <p>ניתן לקבל מהמארחים ייעוץ למסלולי הליכה או אטרקציות באזור.</p>
            <p>ניתן לקבל מהמארחים ייעוץ למסלולי הליכה או אטרקציות באזור.</p>
            <p>ניתן לקבל מהמארחים ייעוץ למסלולי הליכה או אטרקציות באזור.</p>
        </div>



        <div class="form-container">
            <h1>צור קשר</h1>


            <form [formGroup]="form" (submit)="send()" class="contact-form">
                <mat-form-field appearance="outline">
                    <mat-label>שם מלא</mat-label>
                    <input matInput formControlName="from_name" placeholder="שם מלא">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>כתובת מייל</mat-label>
                    <input matInput formControlName="from_email" type="email" placeholder="כתובת מייל">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>נושא</mat-label>
                    <input matInput formControlName="subject" placeholder="נושא הפניה">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>הודעה</mat-label>
                    <textarea matInput formControlName="message" placeholder="תוכן הודעה"></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">שלח</button>
            </form>

        </div>
    </div>