$color1: #A67A53;
$color5: #F2F2F2;
$color3: #F2F2F2;
$color4: #737373;
$color2: #F8F5F0;

.contact-section{
  padding: 100px 0;
}
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}