<section class="about-section">

    <div class="section-container">
        <div class="info-section">
            <h1>קצת עלינו</h1>
            <h4>במרומי הגולן במיקום מושלם מול נופים מרהיבים ניצב מתחם מיקאסה הירוק.
                במתחם 2 סוויטות אירוח לזוגות אוהבים בלבד.
                הסוויטות ממוקמות על בית המארחים במפלס העליון מול הנוף, מרפסת נוף פרטית ופרטיות מוחלטת.
                החצר הירוקה מפנקת ומזמינה ובה פינות ישיבה, מדשאה מוריקה, פרחים ועצים, שמשיות ונדנדה.</h4>
            <div class="social-container">
                <a href="https://facebook.com">
                    <img class="social-img" src="../../../assets/social/facebook.png" alt="">
                </a>

                <a href="https://instagram.com">
                    <img class="social-img" src="../../../assets/social/instagram.png" alt="">
                </a>
                
                <a href="https://pinterest.com">
                    <img class="social-img" src="../../../assets/social/pinterest.png" alt="">
                </a>
                
                <a href="https://wa.me/0545869818">
                    <img class="social-img" src="../../../assets/social/whatsapp.png" alt="">
                </a>
            </div>

        <button mat-flat-button color="primary">פרטים נוספים</button>


        </div>

        <div class="image-section">
            <img class="section-img" src="../../../assets/homepage/hero1.jpg" alt="Image 1">
        </div>
    </div>
</section>