// Variables
$primary-color: #aa8453;
$accent-color: #fdece3;
$background-color: #faf7f2;
$text-color: #cab293;

$color1: #aa8453;
$color2: #fdece3;
$color3: #faf7f2;
$color4: #cab293;


.mat-mdc-raised-button.mat-accent {
    font-size: 18px;
    border-radius: 0px;
    background-color: $color1;
    width: 140px;
    height: 50px;
    color: white;
}




// Section styles
#about-section {
    padding: 100px 0;

    .about-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        .about-content {
            flex: 1;
            // padding: 0 100px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .features {
                display: flex;

                .feature {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }


            }



            .cta {
                display: flex;
                align-items: center;
                gap: 50px;
                // justify-content: space-around;

                .cta-contact {
                    display: flex;
                    flex-direction: column;

                    .cta-contact-item {
                        // font-size: 18px;
                        // font-weight: 700;
                    }
                }


            }
        }

        .image-container {
            flex: 1;
            max-width: 400px;

            .forest-img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}


@media (max-width: 768px) {
    .features{
        flex-direction: column;
        align-items: center;
        gap: 25px;
        .feature{
            gap: 10px;
        }
    }
    .cta{
        flex-direction: column;
        gap: 25px;
    }
    h2,h3, p{
        text-align: center;
    }
    .about-content{
        padding: 0;
    }
    .image-container{
        display: none;
    }
}