$color1: #aa8453;

.about-section {
    padding: 100px 0;

    .section-container {
        display: flex;

        .image-section {
            flex: 1;
            padding: 0 100px;

            img.section-img {
                width: 100%;
                height: 100%;
            }
        }

        .info-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 100px;


            .social-container {
                display: flex;
                justify-content: center;
                gap: 25px;
            
                .social-img {
                    width: 35px;
                }
            }
            
        }
    }
}


.mat-mdc-unelevated-button.mat-primary {
    border-radius: 0px;
    background-color: $color1;
    height: 50px;
    align-self: center;

    &:hover {
        background-color: black;
    }
}

@media (max-width: 768px) {

    .about-section {

        .section-container {
            display: flex;
            .image-section {
                display: none;
            }

            .info-section {
                padding: 0 50px;
            }
        }
    }

    h1,
    h4,
    p {
        text-align: center;
    }


}