<section class="about-section">

    <div class="about-container">
        <div class="about-content">
            <div class="hotel-info">
                <h2>ברוכים הבאים למיקאסה</h2>
                <p>מושב שעל צפון רמת הגולן</p>
                <p>במרומי הגולן במיקום מושלם מול נופים מרהיבים ניצב מתחם מיקאסה הירוק.
                    במתחם 2 סוויטות אירוח לזוגות אוהבים בלבד.
                    הסוויטות ממוקמות על בית המארחים במפלס העליון מול הנוף, מרפסת נוף פרטית ופרטיות מוחלטת.
                    החצר הירוקה מפנקת ומזמינה ובה פינות ישיבה, מדשאה מוריקה, פרחים ועצים, שמשיות ונדנדה.</p>
            </div>
            <div class="features">
                <div class="feature">
                    <h4>ארוחות בוקר מפנקות</h4>
                    <img src="../../../assets/breakfast.png" alt="">
                </div>
                <div class="feature">
                    <h4>חצר אחורית מהממת</h4>
                    <img src="../../../assets/gardening.png" alt="">
                </div>
            </div>
            <div class="cta">
                <button mat-raised-button color="accent" routerLink="/contact" class="btn-discover">גלה עוד</button>
                <div class="contact-info">
                    <img src="../../../assets/phone.png" alt="">
                    <div class="contect-info-item">
                        <h4>הזמן עכשיו</h4>
                        <p>0545869818</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-images">
            <div class="image-container">
                <img class="forest-img" src="../../../assets/about1.jpg" alt="Image 1">
            </div>
        </div>
    </div>
</section>