<!-- <footer class="footer-section">
  <div class="footer-content">

    <div class="first-section">
      <h3>אודות</h3>
      <img class="logo-img" src="../../../assets/logo1.png" alt="mikasa-logo" />
      <p>
        חדרי אירוח מקסימים במושב שעל, רמת הגולן. ניתן להזמין עכשיו וליהנות מחווית אירוח ייחודית ומיוחדת באווירה
        רומנטית ושקטה בצפון.
      </p>
      <div class="social-icons">
        <a href="https://facebook.com">
          <img class="social-img" src="../../../assets/social/facebook.png" alt="">
        </a><a href="https://instagram.com">
          <img class="social-img" src="../../../assets/social/instagram.png" alt="">
        </a><a href="https://pinterest.com">
          <img class="social-img" src="../../../assets/social/pinterest.png" alt="">
        </a><a href="https://wa.me/0545869818">
          <img class="social-img" src="../../../assets/social/whatsapp.png" alt="">
        </a>
      </div>
    </div>

    <div class="second-section">
      <h3>קישורים</h3>
      <ul>
        <li><a [routerLink]="['/']">עמוד הבית</a></li>
        <li><a routerLink="/about">קצת עלינו</a></li>
        <li><a routerLink="/info">מידע</a></li>
        <li><a routerLink="/rooms">חדרים</a></li>
        <li><a routerLink="/services">שירותים</a></li>
        <li><a routerLink="/gallery">גלרייה</a></li>
        <li><a routerLink="/tour">סיור</a></li>
      </ul>
    </div>

    <div class="third-section">
      <ul>
        <li>צימר מיקאסה, מושב שעל, רמת הגולן, ישראל</li>
        <li>+972 (544) 631-809</li>
        <li>mikasa&commat;gmail.com</li>
      </ul>
    </div>
  </div>
</footer> -->



<footer class="site-footer">
  <div class="container">
    <div class="first-row">
      <div class="first-section">
        <h4>אודות</h4>
        <p class="text-justify">
          חדרי אירוח מקסימים במושב שעל, רמת הגולן. ניתן להזמין עכשיו וליהנות מחווית אירוח ייחודית ומיוחדת באווירה
          רומנטית ושקטה בצפון.
        </p>
        <img class="logo-img" src="../../../assets/logo1.png" alt="mikasa-logo" />
      </div>

      <div class="row-section">
        <h4>קישורים</h4>
        <ul class="footer-links">
          <li><a [routerLink]="['/']">עמוד הבית</a></li>
          <li><a routerLink="/about">קצת עלינו</a></li>
          <li><a routerLink="/info">מידע</a></li>
          <li><a routerLink="/rooms">חדרים</a></li>
          <li><a routerLink="/services">שירותים</a></li>
          <li><a routerLink="/gallery">גלרייה</a></li>
          <li><a routerLink="/tour">סיור</a></li>
        </ul>
      </div>

      <div class="row-section">
        <h4>מידע שימושי</h4>
        <ul class="footer-links">
          <li>צימר מיקאסה, מושב שעל, רמת הגולן, ישראל</li>
          <li class="phone-item">+972 (544) 631-809</li>
          <li>mikasa&commat;gmail.com</li>
        </ul>
      </div>

    </div>
    <hr>
  </div>
  <div class="container">
    <div class="second-section">



        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
          <a href="https://main--eclectic-horse-a99c14.netlify.app/">Ron Bachar</a>.
        </p>
    


      <ul class="social-icons">

        <a href="https://facebook.com">
          <img class="social-img" src="../../../assets/social/facebook.png" alt="">
        </a>
        <a href="https://instagram.com">
          <img class="social-img" src="../../../assets/social/instagram.png" alt="">
        </a><a href="https://pinterest.com">
          <img class="social-img" src="../../../assets/social/pinterest.png" alt="">
        </a><a href="https://wa.me/0545869818">
          <img class="social-img" src="../../../assets/social/whatsapp.png" alt="">
        </a>


      </ul>

    </div>
  </div>
</footer>