$color1: #aa8453;
$color2: #fdece3;
$color3: #faf7f2;
$color4: #cab293;


ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo-img {
    width: 100px;
}

.first-row {
    display: flex;
    gap: 50px;
}

.second-row {
    display: flex;

}

.first-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.second-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




img.social-img {
    width: 25px;

}




.site-footer {
    padding: 45px 0 20px;
    line-height: 24px;

}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}



.social-icons {
    display: flex;
    gap: 25px;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {}

@media (max-width:767px) {}


@media (max-width:767px) {

    .first-row {
        flex-direction: column;
        align-items: center;
    }

    .first-section {

        flex-direction: column;
        align-items: center;
    }
    .second-section {

        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    li,p{
        text-align: center;
    }

    h4{
        text-align: center;
    }



}

.phone-item{
    direction: ltr;
}