<footer>
    <mat-toolbar>
      <mat-toolbar-row class="footer-links">
        <a class="link-item" routerLink="/home" routerLinkActive="active">עמוד הבית</a>
        <a class="link-item" routerLink="/rooms" routerLinkActive="active">צור קשר</a>
        <a class="link-item" routerLink="/spa" routerLinkActive="active">אודות</a>
      </mat-toolbar-row>
      <mat-toolbar-row class="footer-details">
        <div class="footer-contact">
          <span>התקשרו עכשיו</span>
          <span>ניתן להתקשר בכל יום בין השעות 08:00 ל 19:00 בערב</span>
          <p>+ 0545 869 818</p>
        </div>
        <div class="footer-social">
          <h3>עקבו אחרינו</h3>
          <span>ברשתות החברתיות</span>
          <div class="social-links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="footer-subscription">
          <h3>המגזין שלנו</h3>
          <span>הרשם להצעות מיוחדות</span>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>אימייל</mat-label>
              <input matInput placeholder="הזן אימייל">
            </mat-form-field>
            <button mat-raised-button color="accent">הרשמה</button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
  