<mat-toolbar class="navbar-section">
  <div class="navbar-container">
    <button mat-raised-button color="accent" routerLink="/contact" class="btn-contact">הזמן עכשיו</button>
    <div class="navbar-links">
      <button mat-button class="navbar-link" routerLink="/about">קצת עלינו</button>
      <button mat-button class="navbar-link" routerLink="/gallery">גלריית תמונות</button>
      <button mat-button class="navbar-link" routerLink="/gallery">שירותי אירוח</button>
      <button mat-button class="navbar-link" [matMenuTriggerFor]="menu">החדרים שלנו</button>
      <mat-menu class="navbar-link" #menu="matMenu" color="accent">
        <button mat-menu-item>סוויטת יער</button>
        <button mat-menu-item>סוויטת גשם</button>
      </mat-menu>
    </div>
    <img src="../../../assets/logo1.png" alt="Description of your image" style="width: 100px;">
  </div>
</mat-toolbar>