$color1: #A67A53;
$color2: #F2F2F2;
$color3: #F2F2F2;
$color4: #737373;



.hero-container {
    background-image: url('../../../assets/yard1.jpg');
    background-size: cover;
    background-position: center center;
    height: 80vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
}

.hero-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    /* Ensure text is above the overlay */
}


.mat-mdc-unelevated-button {

    font-size: 18px;
    letter-spacing: -0.5px;

    font-weight: 700;
    height: 50px;
    &:hover {
        background-color: white;
        color: #A67A53;
    }
}