<app-main-nav>

    <app-header></app-header>

    <section id="about">
        <app-about></app-about>
    </section>
 
    <section id="info">
        <app-info></app-info>
    </section>

    <section id="rooms">
        <app-rooms></app-rooms>
    </section>

    <section id="services">
        <app-services></app-services>
    </section>

    <section id="gallery">
        <app-gallery></app-gallery>
    </section>

    <section id="tour">
        <app-tour></app-tour>
    </section>

    <app-footer></app-footer>

</app-main-nav>