$color1: #aa8453;
$color2: #fdece3;
$color3: #faf7f2;
$color4: #cab293;





.hidden {
  display: none;
}


a {

  color: black;
  text-decoration: none;

  &:hover {
    color: $color1;
  }
}

mat-toolbar {
  gap: 50px;
  justify-content: center;

  img {
    width: 50px;
  }
}


.mat-mdc-extended-fab {
  height: 48;
  background-color: $color1;

  &:hover {
    background-color: black;

  }

}