$color1: #aa8453;
$color2: #fdece3;
$color3: #faf7f2;
$color4: #cab293;




.sidenav-container {
  height: 100%;
}



mat-toolbar {
  gap: 50px;
  justify-content: center;
  height: 10vh;
  background-color: white;
}

mat-toolbar a {

  color: black;
  text-decoration: none;

  &:hover {
    color: $color1;
  }
}


.mat-mdc-extended-fab {

  &:hover {
    background-color: white;

  }

}


.hidden {
  display: none;
}







@media (max-width: 768px) {


  mat-toolbar {
    gap: 50px;
    justify-content: space-between;

    img {
      width: 50px;
    }
  }


}