$color1: #A67A53;
$color2: #F2F2F2;
$color3: #F2F2F2;
$color4: #737373;

.services-container{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #F8F5F0;

}

.mdc-card {
    width: 250px;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #f8f5f0;
    padding: 10px;
}

.mat-mdc-card-title, .mat-mdc-card-subtitle  {
    text-align: center;
    padding-bottom: 10px;
    color: black;
}
.mat-mdc-card-subtitle {
    text-align: center;
}

@media (max-width: 768px) {

    .service-section {
        padding: 50px 0;
    }
}