$color1: #A67A53;
$color2: #F2F2F2;
$color3: #F2F2F2;
$color4: #737373;

.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.service-container {
    // border: 5px solid deeppink;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}



.service-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 400px;
    padding: 30px;
    border: 2px solid #f8f5f0;

    .card-subtitle {
        text-align: center;
    }

}