$color1: #A67A53;
$color2: #F2F2F2;
$color3: #F2F2F2;
$color4: #737373;

.rooms-section {
    background-color: #F8F5F0;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.room-card {
    max-width: 400px;
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.rooms-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    /* Adjust the gap between cards */
}



.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-order {
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
        color: white;
        background-color: black;
    }
}