<section class="rooms-section">
    <span>הסוויטות היוקרתיות שלנו</span>
    <h1>החדרים היוקרתיים שלנו</h1>
    <div class="rooms-container">
        <div *ngFor="let room of rooms">
            <mat-card class="room-card">
                <img class="room-img" mat-card-image [src]="room.image" alt="Room Image" [alt]="room.name">
                <mat-card-content>
                    <p>
                        {{room.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="btn-container">
                    <button mat-button class="btn-order">פרטים נוספים</button>
                    <button mat-raised-button color="accent" class="btn-order">הזמן עכשיו</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>