<!-- First Grid -->
<section id="grid-section">
    <div class="grid-container">
        <div class="grid">
            <div class="grid-content">
                <h1 class="grid-title">יחידות האירוח</h1>
                <h5 class="grid-subtitle">
                    הצימרים שקטים, נעימים, מרגיעים ומתאימים לזוגות שמחפשים את הפינה השקטה והרומנטית שלהם, וגם לזוג + 2</h5>
                <ul>
                    <li>מיטה זוגית גדולה ומרווחת</li>
                    <li>ג'קוזי זרמים מפנק</li>
                    <li>מיזוג אוויר</li>
                    <li>חדר רחצה מפנק עם מקלחון, סבונים ומגבות</li>
                    <li>מטבח מאובזר היטב בכלים לבישול</li>
                    <li>פינת ישיבה ופינת אוכל</li>
                    <li>מרפסת עם פינת ישיבה ונוף המשקיף ליישוב</li>
                </ul>
            </div>
            <div class="grid-icon">
               <img src="../../../assets/info/house.png" alt="">

            </div>
        </div>
    </div>
</section>

<!-- Second Grid -->
<section id="grid-section">
    <div class="grid-container">
        <div class="grid">
            <div class="grid-icon">
               <img src="../../../assets/info/guidepost.png" alt="">
            </div>
            <div class="grid-content">
                <h1 class="grid-title">בסביבת המקום</h1>
                <h5 class="grid-subtitle">
                    מלבד הנוף המדהים, הצימר ממוקם באזור מושלם של אטרקציות ומסעדות מגוונות</h5>
                <ul>
                    <li>טיולי ג'יפים</li>
                    <li>מסעדות</li>
                    <li>מסלולי הליכה</li>
                    <li>מעיינות</li>
                    <li>קטיף עצמי</li>
                    <li>תצפיות כוכבים</li>
                    <li>טיולי טרקטורונים</li>

                </ul>
            </div>
        </div>
    </div>
</section>