<!-- First Grid -->
<!-- First Grid -->
<section class="info-container">

    <div class="grid-container">

        <div class="grid-item">
            <div class="grid-content">
                <h1>יחידות האירוח</h1>
                <h4>
                    הצימרים שקטים, נעימים, מרגיעים ומתאימים לזוגות שמחפשים את הפינה השקטה והרומנטית שלהם</h4>
                <ul>
                    <li>מיטה זוגית גדולה ומרווחת</li>
                    <li>ג'קוזי זרמים מפנק</li>
                    <li>מיזוג אוויר</li>
                    <li>חדר רחצה מפנק עם מקלחון, סבונים ומגבות</li>
                    <li>מטבח מאובזר היטב בכלים לבישול</li>
                    <li>פינת ישיבה ופינת אוכל</li>
                    <li>מרפסת עם פינת ישיבה ונוף המשקיף ליישוב</li>
                </ul>
            </div>

            <div class="grid-img">
                <img src="../../../assets/info/house.png" alt="">
            </div>
        </div>


        <div class="grid-item">
            <div class="grid-img">
                <img src="../../../assets/info/guidepost.png" alt="">
            </div>
            <div class="grid-content">
                <h1>בסביבת המקום</h1>
                <h4>
                    מלבד הנוף המדהים, הצימר ממוקם באזור מושלם של אטרקציות ומסעדות מגוונות</h4>
                <ul>
                    <li>טיולי ג'יפים</li>
                    <li>מסעדות</li>
                    <li>מסלולי הליכה</li>
                    <li>מעיינות</li>
                    <li>קטיף עצמי</li>
                    <li>תצפיות כוכבים</li>
                    <li>טיולי טרקטורונים</li>
                </ul>
            </div>
        </div>



    </div>
</section>